.dart_tool/
build/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

windows/flutter/ephemeral/

.idea/
.vscode/
*.iml